<h1><%= @comment.story.title %></h1>
<h3><%= @comment.story.author %></h3>
<p><%= @comment.story.content %></p>

<h1>Edit Comment:</h1>
<%= form_for @comment do |f| %>
  <%= f.text_field :reader_id, value: @comment.reader, type: :hidden%>
  <%= f.text_area :content %>
  <%= f.text_field :publish_date, {type: "hidden", value: Date.today} %>
  <%= f.submit %>
  <% end %>
