<div class="row">

<div class="col s10 push-s1 m8 push-m2 l6 push-l3">
<h1><%= @recipe.name %></h1>
<img src="<%= @recipe.image_url%>" alt="Recipe Image">
<p> Cooking Difficulty: <%= @recipe.difficulty%></p>
<p> Cooking Instructions: <%= @recipe.instruction%></p>
<%= @recipe.updated_at ? "Updated at: #{@recipe.updated_at}" :  "Created at: #{@recipe.created_at}"%><br>

<h1>Update Recipe</h1>
<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :instruction %>
  <%= f.text_area :instruction %>

  <%= f.label :difficulty %>
  <%= f.select :difficulty, [1, 2, 3, 4, 5] %><br>

  <%= f.fields_for @image do |u| %>
    <label>Upload Image:</label>
    <%= u.file_field :image %><br>
  <% end %>

  <label>Uncheck to Remove Ingredient(s):</label>
  <%= f.collection_check_boxes :ingredient_ids, @recipe.ingredients, :id, :name%><br>

  <%= f.submit %>
<% end %>
</div></div>
