<div class="row">

  <div class="col s10 push-s1 m8 push-m2 l6 push-l3">
    <h1>Post a New Recipe</h1>
    <%= form_tag add_ingredient_path, method: :post do %>
    <h5>List of Ingredients:</h5>
    <ul>
      <% @ingredients.each do |ingredient| %>
      <li> <%= check_box_tag 'ingredient_ids[]', ingredient[:inst].id, nil, id: "#{ingredient[:inst].name}"  -%>
        <%= label_tag "#{ingredient[:inst].name} #{ingredient[:quantity]} #{ingredient[:unit]}", nil, for: "#{ingredient[:inst].name}" %>
      </li>
      <% end %>
    </ul>
    <div class="row">
      <div class="col s12 m4">
        <label>Ingredient Name:</label>
        <%= text_field_tag :name %><br>
      </div>
      <div class="col s12 m4">
        <label>Ingredient Quantity:</label>
        <%= text_field_tag :quantity %><br>
      </div>
      <div class="col s12 m4">
        <label>Ingredient Unit:</label>
        <%= text_field_tag :unit %><br>
      </div>
    </div>
    <%= submit_tag "Add/Remove Ingredient", class: "waves-effect waves-light btn red lighten-1" %>
    <% end %>
    <br>
    <%= form_for @recipe do |f| %>
    <label>Recipe Name:</label>
    <%= f.text_field :name %>
    <div class="input-field">
      <label>Instructions:</label>
      <%= f.text_area :instruction, class: "materialize-textarea" %>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <label for="recipe_difficulty">Difficulty:</label><br>
        <%= f.select :difficulty, (1..5), {}, {class: "input-field", style: "display:inline;"} %>
      </div>
      <%= f.fields_for @image do |u| %>
      <label>Upload Image</label>
      <div class="file-field input-field col s12 m6">
        <div class="waves-effect waves-light btn red lighten-1">
          <span>Choose File</span>
          <input class="input-field" type="file" name="recipe[image][image]" id="recipe_image_image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <!-- <%= u.file_field :image %><br> -->
      <% end %>
    </div>


    <%= f.submit nil, class: "waves-effect waves-light btn red lighten-1" %>
    <% end %>
  </div>
</div>
