<h1><%= @user.to_s%></h1>

<%= @user.user_name %><br>
<%= link_to "Update #{@user.user_name}", edit_user_path %><br>

<%= form_for @user, method: :delete do |f| %>
  <%= f.submit "Delete Account"%>
<% end %>
