<div class="row">

<div class="col s10 push-s1 m8 push-m2 l6 push-l3"><h1>Create a New Ingredient</h1>
<%= form_for @ingredient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :cost %>
  <%= f.number_field :cost, class: :text_field, step: :any %>

  <%= f.label :allergen %>
  <%= f.select( :allergen, options_for_select(@allergy_types), { :prompt =>
true } ) %>

  <%= f.submit %>
<% end %>
</div>
</div>
