


<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Food for Thought</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="Site">
  <header class="Site-header">
  <% if logged_in? %>
  <ul id="user_dropdown" class="dropdown-content">
    <li><%= link_to "Account", user_path(current_user) %></li>
    <li><%= link_to "Write Recipe", new_recipe_path %></li>
    <li><%= link_to "Write Story", new_story_path %></li>
    <li>
    <%= link_to "Log Out", logout_path, method: :delete %>
  </li>
</ul>
<% end %>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo container"><img vspace="7" src="/img/food_for_thought.svg" height="50" alt="Food for Thought logo"></a>


    <ul class="col s1 m2 right hide-on-med-and-down">
      <li><%= link_to search_recipes_path do %><i class="material-icons left">search</i>Search Recipes<% end %></li>
      <% if logged_in? %>
      <li><a class="dropdown-button" href="#!" data-activates="user_dropdown"><i class="material-icons right">menu</i>Menu</a></li>
      <% else %>
      <li><%= link_to "Log In", login_path %> </li>
      <% end %>

    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><%= link_to search_recipes_path do %>Search Recipes<i class="material-icons right">search</i><% end %></li>
      <% if logged_in? %>
        <li><%= link_to "Account", user_path(current_user) %></li>
        <li><%= link_to "Write Recipe", new_recipe_path %></li>
        <li><%= link_to "Write Story", new_story_path %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    <% end %>

    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
</header>

<main class="Site-content">

  <%= yield %>
</main>
<footer class="page-footer red lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">

  </div>
</footer class="Site-footer">


<!--  Scripts-->
<!-- <script src="/js/materialize.js"></script> -->
<script src="/js/init.js"></script>

</body>
</html>
